<html>
    <head>
        {{> common/common-libraries}}

        <script>
            // api calls
            function deleteExercise(id) {
                fetch(`api/exercises/${id}`, {
                    method: 'DELETE'
                }).then(function(response) {
                    if(response.ok) {
                        location.reload()
                    } else {
                        onError(response)
                    }
                })
            }

            function createExercise() {
                const body = {
                    "name": $('#exercise-create-name').val(),
                    "description": $('#exercise-create-description').val(),
                    "link": $('#exercise-create-link').val()
                }

                fetch('api/exercises', {
                    method: 'POST',
                    body: JSON.stringify(body),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function(response) {
                    if(response.ok) {
                        location.reload()
                    } else {
                        onError(response)
                    }
                })
            }

            function editExercise(id) {
                const body = {
                    "id": id,
                    "name": $('#exercise-edit-name').val(),
                    "description": $('#exercise-edit-description').val(),
                    "link": $('#exercise-edit-link').val()
                }

                fetch('api/exercises', {
                    method: 'PUT',
                    body: JSON.stringify(body),
                    headers:{
                        'Content-Type': 'application/json'
                    }
                }).then(function(response) {
                    if(response.ok) {
                        location.reload()
                    } else {
                        onError(response)
                    }
                })
            }

            function searchExercise() {
                const input = $('#exercise-search-input').val().toUpperCase()
                $('.exercise-container').each(function(index){
                    const _this = $(this)
                    const exerciseName = _this.find('.exercise-name').text().toUpperCase()
                    if (exerciseName.includes(input)) {
                        _this.show()
                    } else {
                        _this.hide()
                    }
                })
            }
        </script>
    </head>


    <body class="bg-light">
        {{> common/navigation}}
        {{> common/errors}}

        <main role="main" class="container">
            <h1>Ejercicios</h1>
            <div class="input-group md-form form-sm form-1 pl-0">
                <div class="input-group-prepend">
                    <span class="input-group-text cyan lighten-2" id="basic-text1">
                        <i class="fas fa-search text-white" aria-hidden="true"></i>
                    </span>
                </div>
                <input id="exercise-search-input" class="form-control my-0 py-1" type="text" onkeyup="searchExercise()" placeholder="Buscar..." aria-label="Search" />
            </div>
            <button type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#exercise-create-modal">Crear nuevo ejercicio</button>

            <div class="container pt-3">
                {{#exercises}}
                <div class="container exercise-container">
                    <a href="#" class="container-sm btn btn-dark exercise-name" role="button" data-toggle="collapse" id="exercise-name-{{id}}" data-target="#collapsable-{{id}}">{{name}}</a>
                    <div id="collapsable-{{id}}" class="collapse pb-3">
                        <p class="list-group-item lead" id="exercise-description-{{id}}">{{description}}</p>
                        {{#link}}
                        <a href="{{{link}}}" id="exercise-link-{{id}}">Ver video</a>
                        {{/link}}

                        <div class="text-right">
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exercise-edit-modal" data-id="{{id}}">Editar</button>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exercise-delete-modal" data-id="{{id}}">Eliminar</button>
                        </div>

                    </div>
                </div>
                {{/exercises}}
            </div>
        </main>


        <!-- Create popup -->
        <div class="modal fade" id="exercise-create-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exercise-create-title">Crear nuevo ejercicio</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="exercise-create-content">
                            <div>
                                <label for="exercise-create-name">Nombre: </label>
                                <input class="form-control" name="name" id="exercise-create-name"/>
                            </div>
                            <div>
                                <label for="exercise-create-description">Descripcion:</label>
                                <textarea class="form-control" name="description" id="exercise-create-description"></textarea>
                            </div>
                            <div>
                                <label for="exercise-create-link">Link del video: </label>
                                <input class="form-control" name="link" id="exercise-create-link"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-dark" onclick="createExercise()">Crear</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit popup -->
        <div class="modal fade" id="exercise-edit-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exercise-edit-title">Editar ejercicio</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="exercise-edit-content">
                            <div>
                                <label for="exercise-edit-name">Nombre: </label>
                                <input class="form-control" name="name" id="exercise-edit-name"/>
                            </div>
                            <div>
                                <label for="exercise-edit-description">Descripcion:</label>
                                <textarea class="form-control" name="description" id="exercise-edit-description"></textarea>
                            </div>
                            <div>
                                <label for="exercise-edit-link">Link del video: </label>
                                <input class="form-control" name="link" id="exercise-edit-link"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-dark" id="exercise-edit-button">Editar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- DELETE popup -->
        <div class="modal fade" id="exercise-delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exercise-delete-title">Borrar ejercicio</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="exercise-delete-content">
                            <label>Esta seguro de que quiere eliminar </label>
                            <p id="exercise-delete-name">&times;</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-dark" id="exercise-delete-button">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>


        <script>
            // following doesn't work even with document.onload

            // Modal on show
            $('#exercise-edit-modal').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget)
                const id = button.data('id')

                const modal = $(this)
                modal.find('#exercise-edit-name').val($(`#exercise-name-${id}`).text())
                modal.find('#exercise-edit-description').val($(`#exercise-description-${id}`).text())
                modal.find('#exercise-edit-link').val($(`#exercise-link-${id}`).attr("href"))
                modal.find('#exercise-edit-button').click(function() {editExercise(id)})
            })

            $('#exercise-delete-modal').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget)
                const id = button.data('id')

                const modal = $(this)
                modal.find('#exercise-delete-name').text($(`#exercise-name-${id}`).text())
                modal.find('#exercise-delete-button').click(function() {deleteExercise(id)})
            })

            $('#nav-exercise').addClass('active')
        </script>
    </body>


</html>