<html>
    <head>
        {{> common/common-libraries}}
    </head>

    <body>
        {{> common/navigation}}

        <br/>
        <div class="container pb-3">
            <h1>Bienvenido</h1>
            <h1>a Remote Trainer!</h1>
        </div>

        <div class="container">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a href="/exercises">Ejercicios</a>
                        </td>
                        <td>
                            <span>Aca vas a poder ver y crear ejercicios</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/trackings">Seguimientos</a>
                        </td>
                        <td>
                            <span>Anota tu performance del dia y mira tu progreso</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/blocks">Series</a>
                        </td>
                        <td>
                            <span>Arma las series de ejercicios que sean comunes en varias rutinas para no tener que crearlas una y otra vez</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/routines">Rutinas</a>
                        </td>
                        <td>
                            <span>Aca podes ver tus rutinas de ejercicios</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/export">Exportar</a>
                        </td>
                        <td>
                            <span>Genera un archivo para pasarles a tus alumnos o amigos: ejercicios, series de ejercicios y rutinas</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/import">Importar</a>
                        </td>
                        <td>
                            <span>Pedile los ejercicios, seriess y rutinas a tu entrenador y carga todo aca</span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>