<div class="container-lg" style="background-color: #e3f2fd;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/exercises">Ejercicios</a>
        <a class="navbar-brand" href="/trackings">Seguimientos</a>
    </nav>
</div>
