<div class="container-lg">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/exercises">Ejercicios</a>
        <a class="navbar-brand" href="/trackings">Trackings</a>
    </nav>
</div>
