<html>
    <head>
        {{> common/common-libraries}}

        <style>
            .week-nav {
                float: left;
                text-align: center;
            }

            .day-column {
                border: 1px solid;
                float: left;
                padding-left: 0;
                padding-right: 0;
            }

            .day-column button {
                width: 100%;
            }

            .day-name {
                text-align: center;
            }

            .number-in-month {
                font-size: xx-large;
                text-align: center;
            }

            .routines {
                padding-top: 20px;
            }

            .block-notes {
                padding-top: 15px;
                padding-bottom: 15px;
            }

            .capitalized::first-letter {
                text-transform: uppercase;
            }
        </style>

        <script>
            // api calls
            function deleteRoutine(id) {
                fetch(`api/routines/${id}`, {
                    method: 'DELETE'
                }).then(function(response) {
                    if(response.ok) {
                        $(`#routine-${id}`).remove();
                        $('#routine-delete-modal').modal('hide');
                    } else {
                        handleErrorResponse(response);
                    }
                })
            }
        </script>
    </head>


    <body class="bg-light">
        {{> common/navigation }}
        {{> common/toast }}

        <main role="main" class="container-fluid h-100">
            <h1 class="float-left">Rutinas</h1>
            <a href="#" data-toggle="tooltip" title="Aca podes ver tus rutinas de ejercicios.">?</a>

            <div class="week-nav container-fluid">
                <h4 class="capitalized">{{month}}</h4>
                <div class="buttons-container">
                    <a href="/routines?date={{previousWeek}}">Anterior</a>
                    <a href="/routines?date={{nextWeek}}">Siguiente</a>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row h-100">
                    {{ #routineDays }}
                    <div class="col-sm day-column">
                        <div class="day-name capitalized w-100">{{dateDay}}</div>
                        <div class="number-in-month">{{dateNumber}}</div>
                        <div class="container-fluid">
                            <a class="btn btn-dark btn-lg" href="/routines/create?date={{date}}">Crear</a>
                        </div>

                        <div class="routines container-fluid">
                            {{ #routines }}
                            <div id="routine-{{id}}">
                                <a id="routine-{{id}}-description" href="#" class="container-sm btn btn-dark" role="button" data-toggle="collapse" data-target="#collapsible-{{id}}">{{shortDescription}}</a>
                                <div id="collapsible-{{id}}" class="collapse pb-3">
                                    <div id="routine-{{id}}-notes" class="container-fluid">{{notes}}</div>
                                    <div id="routine-{{id}}-blocks" class="routine-blocks">
                                        {{ #exerciseBlocks }}
                                        <div class="routine-block">
                                            <hr/>
                                            <p class="lead block-notes">{{notes}}</p>
                                            <div class="container pb-2">
                                                <table class="table table-stripped">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Ejercicio</th>
                                                        <th scope="col">Repeticiones</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    {{ #exercises }}
                                                    <tr class="block-repetitions">
                                                        <td class="repetition-exercise">{{exercise.name}}</td>
                                                        <td class="repetition-quantity">{{quantity}}</td>
                                                    </tr>
                                                    {{ /exercises }}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        {{ /exerciseBlocks }}
                                    </div>
                                    <div class="text-right">
                                        <a class="btn btn-secondary btn-sm" href="/routines/copy?routineId={{id}}">Copiar</a>
                                        <a class="btn btn-secondary btn-sm" href="/routines/update?routineId={{id}}">Editar</a>
                                        <a href="#" type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#routine-delete-modal" data-id="{{id}}">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                            {{ /routines }}
                        </div>
                    </div>
                    {{ /routineDays }}
                </div>
            </div>

            <!-- DELETE popup -->
            <div class="modal fade" id="routine-delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="routine-delete-title">Borrar Rutina</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="routine-delete-content">
                                <p id="routine-delete-description">&times;</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-dark" id="routine-delete-button">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $('#routine-delete-modal').on('show.bs.modal', function (event) {
                    const button = $(event.relatedTarget);
                    const id = button.data('id');

                    const modal = $('#routine-delete-modal');
                    const routineDescription = $(`#routine-${id}-description`).text();
                    modal.find('#routine-delete-description').text(`Esta seguro de que quiere eliminar '${routineDescription}'?`);
                    modal.find('#routine-delete-button').click(function() {deleteRoutine(id)});
                });

                $('#nav-routine').addClass('active')
            </script>
        </main>
    </body>
</html>