<html>
    <head>
        {{> common/common-libraries}}

        <script src="/routine-upsert.js"></script>
        <style>
            .card {
                background-color: inherit !important;
            }
        </style>
    </head>


    <body class="bg-light">
        {{> common/navigation }}
        {{> common/toast }}

        <main role="main" class="container h-100">
            <div class="card">
                <div class="card-header">
                    {{ #create }}
                    <h5 class="modal-title">Crear nueva rutina</h5>
                    {{ /create }}
                    {{ ^create }}
                    <h5 class="modal-title">Modificar rutina</h5>
                    {{ /create }}
                </div>
                <div class="card-body">
                    <div id="routine-upsert-content">
                        {{ #routine }}
                        <div>
                            <label for="routine-upsert-date">Fecha: </label>
                            <input class="form-control" name="name" id="routine-upsert-date" value="{{date}}" disabled/>
                        </div>
                        <div>
                            <label for="routine-upsert-description">Descripcion corta: </label>
                            <a href="#" data-toggle="tooltip" title="Una descripcion para identificar esta rutina.">?</a>
                            <input class="form-control" name="name" id="routine-upsert-description" value="{{shortDescription}}"/>
                            <div id="routine-description-feedback" class="invalid-feedback">
                                Por favor, introduci una descripcion.
                            </div>
                        </div>
                        <div>
                            <label for="routine-upsert-notes">Notas:</label>
                            <textarea class="form-control" name="description" id="routine-upsert-notes">{{notes}}</textarea>
                        </div>
                        <div id="routine-blocks" class="py-3">
                            {{ #exerciseBlocks }}
                            <div class="container-fluid block-container" id="block-{{id}}">
                                <input type="hidden" class="block-id" value="{{id}}"></input>
                                <a href="#" class="btn btn-dark block-name btn-block" data-toggle="collapse" data-target="#collapsible-{{id}}" role="button" aria-expanded="true">this will be replaced onload</a>

                                <div class="pb-5 collapse" id="collapsible-{{id}}">
                                    <div>
                                        <label>Notas:</label>
                                        <textarea class="form-control block-notes">{{notes}}</textarea>
                                    </div>

                                    <table class="table table-stripped">
                                        <thead>
                                        <tr>
                                            <th scope="col">Ejercicio</th>
                                            <th scope="col">Repeticiones</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody id="block-{{id}}-exercises" class="block-exercises">
                                        {{ #exercises }}
                                        <tr id="repetition-{{id}}">
                                            <th scope="col">
                                                <select class="block-exercise">
                                                    <option hidden value="{{exercise.name}}"></option>
                                                </select>
                                            </th>
                                            <th scope="col">
                                                <input class="block-quantity" value="{{quantity}}"></input>
                                                <div class="invalid-feedback">
                                                    Por favor, ingresa un numero.
                                                </div>
                                            </th>
                                            <th scope="col">
                                                <i class="material-icons md-24 delete" onclick="remove('repetition-{{id}}')">delete</i>
                                            </th>
                                        </tr>
                                        {{ /exercises }}
                                        </tbody>
                                    </table>

                                    <div class="float-right">
                                        <button class="btn btn-secondary btn-sm" onclick="remove('block-{{id}}');renameBlocks()">Eliminar serie</button>
                                        <button class="btn btn-dark btn-sm" onclick="addExercise('block-{{id}}-exercises')">Agregar ejercicio</button>
                                    </div>
                                </div>
                            </div>
                            {{ /exerciseBlocks }}
                        </div>

                        <div class="float-right btn-toolbar" style="padding-top: 20px">
                            <div class="input-group mr-3">
                                <select class="custom-select" id="named-blocks-select">
                                    <option value="" disabled selected>Series existentes...</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-dark btn-sm" type="button" onclick="addNamedBlock()">Copiar en la rutina</button>
                                </div>
                            </div>

                            <button type="button" class="btn btn-dark btn-sm" onclick="addExerciseBlock()">Agregar serie de ejercicios</button>
                        </div>
                        {{ /routine }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" onclick="goBack()">Cancelar</button>

                    {{ #create }}
                    <button type="button" class="btn btn-dark" onclick="createRoutine()">Crear</button>
                    {{ /create }}
                    {{ ^create }}
                    <button type="button" class="btn btn-dark" onclick="updateRoutine('{{routine.id}}')">Editar</button>
                    {{ /create }}
                </div>
            </div>

            <script>
                $('#nav-routine').addClass('active');

                function goBack() {
                    window.location.href = `/routines`;
                }

                fetch('/api/blocks?named=true', {
                    method: 'GET'
                }).then(function(response) {
                    if(response.ok) {
                        response.json().then(data => {
                            data.forEach(function(namedBlock) {
                                const option = document.createElement('option');
                                $(option).data(namedBlock);
                                option.innerText = namedBlock.name;

                                document.getElementById('named-blocks-select').appendChild(option)
                            });
                        })
                    } else {
                        handleErrorResponse(response);
                    }
                });

                // waits for the exercises to be downloaded, then fills the loaded options for update/copy
                setTimeout(
                    function(){
                        fillLoadedExerciseOptions();
                        renameBlocks();
                    }, 500
                );
            </script>
        </main>
    </body>
</html>